// .btn-dash {
//   background: #333333;
//   margin: 8px;
//   padding-left: 40px;
//   padding-right: 40px;
//   border-color: white;
//   color: white;
//   border-radius: 4px;
// }

.index-page {
  background-image: url("https://images.pexels.com/photos/2101086/pexels-photo-2101086.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  background-position: center;
  // background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
 }

