.home-image {
  height: 100vh;
  background-position: center;
  // background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 18px;
  font-weigh: ligther;
}

.banner h1 strong {
  color: white;
  font-family: 'Lexend Peta', sans-serif;;
  letter-spacing: 4px;
}

.btn-flat {
  color: white;
  margin: 8px;
  padding: 8px 24px;
  border-radius: 4px;
  border-color: white;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: EDF7D2;
  margin: 8px;
  border-color: white;
  color: grey;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
