<div class="bg-img">
  <div class="container">
    <div class="topnav">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#messages">Messages</a>
      <a href="locations">My locations</a>
      <a href="#Sign out">Sign out</a>
    </div>
  </div>
</div> 
