<h1>Dashboard</h1>
<p> Your email: <%= current_user.email %> </p>
<div class="cards cards-dash">
  <h3>your locations</h3> <br>
  <% @locations.each do |location| %>
    <div class="card-product">
      <img src="https://picsum.photos/id/206/200/200" />
      <div class="card-product-infos">
        <h2><%= location.name %></h2>
        <p><%= location.description %></p>
        <a class="btn btn-dash" href="#">Edit</a>
      </div>
    </div>
  <% end %>
</div>
