
<%= render 'shared/navbar' %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1575421193966-2531194d4692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>Share your <strong>hotspots</strong> with the world!</h1>
    <br>
    <p> A photographer needs exclusive locaions to be innovative.</p>
    <br>
    <p>Exclusive backyards, funky lofts or maybe a view to die for?</p>
    <br>
    <a class="btn btn-flat" href="#">We got you!</a>
  </div>
</div>
