
<%= render 'shared/navbar' %>

<div class="banner home-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1575421193966-2531194d4692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>Share your <strong>hot spots</strong> with the world!</h1>
    <br>
    <p> We have gathered all of the exclusive locations, just for you.</p>
    <br>
    <p>Exclusive backyards, funky lofts or maybe a view to die for?</p>
    <br>
    <%= link_to 'Sign up here!', new_user_registration_path, class: "btn btn-flat"%>
  </div>
</div>
