
  <div class="banner" img src="view.jpg" alt="view backround">
  <div class="container">
    <h1>Share your location, <strong>your hot spot,</strong> <strong>with the world</strong>!</h1>
    <p>Do you need a view, or a cool flat maybe, for a shoot? We got you!</p>
    <%= link_to "Sign up now to book an avaliabe hotspots", "#", class: "btn btn-gradient" %>
    </div>


  <div class="cards">
    <div class="card-category">
      Funky loft
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) url(https://unsplash.com/photos/uIlqCTi64HU)">
      Beautiful backyard
    </div>

    <div class="card-category">
    Exclusive balcony
  </div>
</div>
</div>



