.card-product {
  overflow: hidden;
  width: 1000px;
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: auto;
  margin-top: 55px;
  position: relative;
}


// for locations/index
.card-product img {
  width: 700px;
  height: 500px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  text-decoration-style: double;
  text-shadow: 0.1em 0.1em 0.2em rgb(224,224,224);
  top: 50px;
  margin-bottom: 40px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product a {
  margin-top: 40%;
  margin-right: 10px;
}

.card-product .card-product-infos {
  padding: 16px;
  object-fit: cover;
}

 .center {
   text-align: right;
 }

// for dashboard
 .cards-dash {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  align-items: center;
  padding-top: 115px;
  margin: 20px;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
