// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.show-name {
  align-self: flex-start;
  justify-self: flex-end;
  margin: 10px;
}

.btn-index {
  align-self: flex-end;
  margin-left: auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  align-items: center;
  padding-top: 115px;
  margin: 20px;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.index-page {
  background-image: url("https://images.pexels.com/photos/2101086/pexels-photo-2101086.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  background-position: center;
  // background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
 }

 .btn-create {
  color:black;
  border-color: grey;
 }
