.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  max-width: 300px;
  max-height: 300px;
}

.mapboxgl-popup-content img {
  width: 200px;

}

.card-list-map {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 50px;
  top: 50px;
  overflow: hidden;
  margin-right: 40px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}
