<div class="cards">
  <%@locations.each do |location| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <h2 class = "show-name"><%= location.name %></h2>
      <%= link_to location.price, location_path(location), class: "btn btn-flat btn-index" %>
    </div>
  <% end %>
</div>
